* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: rgb(190, 218, 230);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: black;
}
.contenedorbody{
    height: 100vh;
    display: flex;
}
.main{
    flex: 3;
    padding: 40px;
    background-color: rgb(243, 230, 247);
    overflow-y: auto;
}
ul li {
  list-style: none;
}
li a{
    text-decoration: none;
}
.menu{
    flex: 1;
    background-color: azure;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul{
    list-style: none;
    text-align: center;
}
.menu li{
    margin: 20px 0;
}
.menu a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}
.menu a:hover {
color: brown;
}
h1 {
    text-align: center;
}
.img01 {
    display: block;
    margin: 0;
    width: 15px ;
    height: auto;
}
